<section id='page-content' >

    <header id="" class="overview absolute">
        <span class="count">{{ model.connections.length }} connecties</span>
    </header>

    <section id='' class='overview list'>
        <table>
            <tr>
                <th>Naam</th>
                <th>Rol</th>
            </tr>

            {{#each connection in model.connections}}
            <tr {{action 'showConnectionDetails' connection }}>
                <td>
                    <div class='profilePicture' style="background-image: url({{ connection.picture }}) "></div>
                    {{ connection.contactName }}
                </td>
                <td>{{connection.contactRoles}}</td>
            </tr>
            {{/each}}
        </table>
    </section>
</section>

<aside id='page-right'>
    <header class='picture' style="background-image: url({{ selectedPerson.profilePicture }}) "></header>
    <h4>{{selectedPerson.fullname}}</h4>
    <h5>{{selectedPerson.roles}}</h5>
    <p>{{selectedPerson.dateOfBirth}}</p>
    <button {{action 'getProfile' selectedPerson.id }}>Bekijk profiel</button>
    <button {{action 'hideConnectionDetails'}}>sluiten</button>
</aside>
