
    <aside id='page-left'>
        <h4>{{ fullName }}</h4>
        <h5>{{ roles }}</h5>

        <ul>
            <li>Locatie: {{ location }}</li>
            <li>Geboortedatum: {{ birthdate }}</li>
        </ul>

        <ul>
            <li><strong>Beschikbaarheid</strong></li>
            <li>1 april t/m 30 maart</li>
            <li>maandag</li>
            <li>dinsdag</li>
        </ul>

		<button {{action 'createPersonalContact'}}><i class="fa fa-share-alt"></i> Connect</button>

    </aside>

    <section id='page-content'>

        <section id='passion'>
            <h3>Passie</h3>
            <p>{{passion}}</p>
        </section>

        <section id='qualities'>
            <h3>Kwaliteiten</h3>

            <ul>
                {{#each quality in qualities}}
                    <li>{{ quality }}</li>
                {{/each}}
            </ul>
        </section>

    </section>
