<aside id='page-left' class='viewslider' >

	<section class='slideContainer'>
		<section id='index' class='slide-0'>
			<header class='picture' style="background-image: url('http://lorempixel.com/500/375/?{{model.id}}') "></header>
			<i id="edit-btn" {{action 'changeView' 'page-left' 1 }} class="fa fa-cog"></i>
			<h5>Project: {{ model.description }}</h5>
			<p>Eigenaar: {{ model.owner.firstName }}</p>

			<hr>

			<p><strong>Specialismen</strong></p>
			{{#each profile in model.profiles}}
			<div class="matchingProfile" {{action "selectMatchingProfile" profile.id}}>
				{{#if profile.match.profilePicture}}
				<div class='profilePicture' style=" background-image: url({{ profile.match.profilePicture }});"></div>
				{{else}}
				<div class='profilePicture'></div>
				{{/if}}

				{{#if profile.match}}
				<span><strong>{{ profile.description }}</strong><br />{{profile.match.fullName}}</span>
				{{else}}
				<span><strong>{{ profile.description }}</strong><br />Geen match</span>
				{{/if}}
			</div>
			{{/each}}

			<ul>
				<li><strong>Start- en einddatum</strong></li>
				<li>{{ model.startDate }} t/m {{ model.endDate }}</li>
			</ul>

			<button {{action "delProject"}}>Verwijder project</button>
		</section>


		<section id='edit' class='slide-1'>
			<i id="edit-btn" {{action 'changeView' 'page-left' 0 }} class="fa fa-cog"></i>
			<form method="post" {{action "updateDemand" on="submit"}}>
				Afbeelding:

				[image upload hier]
				<br><br>
				Beschrijving:
				{{textarea value=model.description placeholder="Beschrijving" rows="6" class="txt-field"}}<br>
				Samenvatting
				{{textarea value=model.summary placeholder="Samenvatting" rows="8" class="txt-field"}}<br>
				Verhaal
				{{textarea value=model.story placeholder="Verhaal" rows="8" class="txt-field"}}<br>

				<h4>Start en eind datum</h4>
				Van:
				{{date-picker value=model.startDate date=mydate valueFormat='YYYY-MM-DD' format='DD-MM-YYYY' yearRange="-70,0"}}<br>
				tot:
				{{date-picker value=model.endDate date=mydate valueFormat='YYYY-MM-DD' format='DD-MM-YYYY' yearRange="-70,0"}}<br>
				<button type="submit" class="btn add-project-btn">Wijzigen <i class="fa fa-pencil"></i></button>
			</form>
		</section>
	</section>


</aside>

<section id='page-content'>

	<i id="edit-btn" {{action 'changeView' 'page-left' 1 }} class="fa fa-cog"></i>
	<h4>Project: {{ model.description }}</h4>

	<section id='qualities'>
		<h3>verhaal</h3>
		<p>{{ model.story }}</p>
	</section>

</section>
{{log this}}
