    <aside id='page-left' class='' >
        <header class='picture' style="background-image: url('http://lorempixel.com/500/375/?{{model.id}}') "></header>

        <h5>Project: {{ model.description }}</h5>
        <p>Eigenaar: {{ model.owner.firstName }}</p>

        <hr>

        <p><strong>Specialismen</strong></p>
        {{#each profile in model.profiles}}
        <div class="matchingProfile" {{action "selectMatchingProfile" profile.id}}>
            {{#if profile.match.profilePicture}}
                <div class='profilePicture' style=" background-image: url({{ profile.match.profilePicture }});"></div>
            {{else}}
                <div class='profilePicture'></div>
            {{/if}}

            {{#if profile.match}}
                <span><strong>{{ profile.description }}</strong><br />{{profile.match.fullName}}</span>
            {{else}}
                <span><strong>{{ profile.description }}</strong><br />Geen match</span>
            {{/if}}
        </div>
        {{/each}}

        <ul>
            <li><strong>Start- en einddatum</strong></li>
            <li>{{ model.startDate }} t/m {{ model.endDate }}</li>
        </ul>

		<button {{action "delProject"}}>Verwijder project</button>
    </aside>

    <section id='page-content'>


        <h4>Project: {{ model.description }}</h4>

        <section id='qualities'>
            <h3>verhaal</h3>
            <p>{{ model.story }}</p>
        </section>

    </section>
{{log this}}
