    <aside id='page-left' class='' >
        <h4>{{ model.title }}</h4>
        <h5>{{ model.owner.firstName }}</h5>

        <ul>
            <li><strong>Beschrijving</strong></li>
            <li>{{ description }}</li>
        </ul>

        <p><strong>Specialismen</strong></p>
        {{#each profile in model.matchingProfiles}}
        <div style="cursor:pointer; clear:both;border-bottom:1px solid #ccc; padding: 10px 0;">
            <div class='profilePicture' style="float:left; margin-right:10px; margin-bottom:10px; background-image: url({{ ownerProfilePicture }}); width:35px; height:35px;">     </div>
            <div><strong>{{ profile.name }}</strong><br />geen match</div>
        </div>
        {{/each}}
        <ul>
            <li><strong>Start- en einddatum</strong></li>
            <li>{{ startdate }} t/m {{ enddate }}</li>
        </ul>
    </aside>

    <section id='page-content'>

        <section id='passion'>
            <h3>Samenvatting</h3>
            <p>{{ summary }}</p>
        </section>

        <section id='qualities'>
            <h3>verhaal</h3>
            <p>{{ story }}</p>
        </section>

    </section>
{{log this}}
