<section id='page' class='profile aside-left'>
    <header id="page-header">

        <img class="profilePicture" src="{{ownerProfilePicture}}" width="100" height="100"/>

        <h4>Project: {{ projectTitle }}</h4>

        <nav id="submenu">
            <ul>
                <li>{{#link-to 'project.index'}}Algemeen{{/link-to}}</li>
                <li>{{#link-to 'project.matching'}}Matches{{/link-to}}</li>
            </ul>
        </nav>
    </header>

    <aside id='page-left' class='viewslider' >
        <h4>Specialismen</h4>
        <h5>matches 0/{{ matchingProfiles.total }}</h5>

        {{#each profile in matchingProfiles.list}}
        <div {{action 'selectMatchingProfile' profile}} style="cursor:pointer; clear:both;border-bottom:1px solid #ccc; padding: 10px 0;">
            <div class='profilePicture' style="float:left; margin-right:10px; margin-bottom:10px; background-image: url({{ ownerProfilePicture }}); width:35px; height:35px;">     </div>
            <div><strong>{{ profile.profileName }}</strong><br />geen match</div>
        </div>
        {{/each}}

        <a style="display:block; padding:20px 0;">+ Specialisme toevoegen</a>
    </aside>

    <section id='page-content'>
        <section>
            <h3>MatchingProfiel: {{ selectedProfile.title }}</h3>

        </section>


        <section id='overview' class='list'>
            <h5>{{ connectionCount }} connecties</h5>
            <table>
                <tr>
                    <th>Naam</th>
                    <th>Branch</th>
                    <th>Rol</th>
                </tr>

                {{#each match in selectedProfile.matches}}
                <tr {{action 'showConnectionDetails' connection }}>
                    <td>
                        <div class='profilePicture' style="background-image: url({{ match.profilePicture }}) "></div>
                        {{ match.fullname }}
                    </td>
                    <td>{{match.branch}}</td>
                    <td>{{match.roles}}</td>
                </tr>
                {{/each}}
            </table>
        </section>
    </section>
</section>
