<section id='page' class='profile-matching aside-left'>
    <header id="page-header">

        <img class="profilePicture" src="{{ model.owner.picture }}" width="100" height="100"/>

        <h4>Project: {{ model.description }}</h4>

        <nav id="submenu">
            <ul>
                <li>{{#link-to 'project.index'}}Algemeen{{/link-to}}</li>
                <li>{{#link-to 'project.matching'}}Matches{{/link-to}}</li>
            </ul>
        </nav>
    </header>

    <aside id='page-left' class='viewslider' >
        <section class='slideContainer'>
            <section id='index' class='slide-0'>

                <div class='profilePicture' style="background-image: url({{ model.owner.picture }});"></div>
                <h4>Meelevende persoonlijkheden</h4>
                <h5>geen match</h5>
                <hr>

                <section class='widgetContainer'>

                    {{#each element in selectedProfile.choosenMatchingElements}}
                    {{matching-widget data=element isNew=false  action='updateWidget'}}
                    {{/each}}

                </section>

                <button {{action 'changeView' 'page-left' 1 }} >Element toevoegen <i class="fa fa-plus"></i></button>
                <hr>
                <button {{action '' }} >Matches berekenen <i class="fa fa-calculator"></i></button>
            </section>
            <section id="add" class='slide-1'>

                <section class='widgetContainer'>

                    {{#each element in selectedProfile.matchingElements}}
                    {{matching-widget data=element action='saveWidget'}}
                    {{/each}}

                </section>

            </section>
        </section>
    </aside>

    <section id='page-content'>
        <header id="criteria-header">
            {{#each profile in matchingProfiles}}
            <span {{action 'selectMatchingProfile' profile}} class="criteria">
                <span class='profilePicture' style="background-image: url({{ ownerProfilePicture }});">
                    <span class="info"><strong>{{ profile.profileName }}</strong><br />geen match</span>
                </span>
            </span>
            {{/each}}
            <h5>matches 0/{{ model.matchingProfiles.length }}</h5>
            <button>Specialisme toevoegen <i class="fa fa-plus"></i></button>
        </header>


        <section id="matchingResults" class='list'>
            <h3>MatchingProfiel: {{ model.selectedProfile.title }}</h3>
            <h5>{{ connectionCount }} connecties</h5>
            <table>
                <tr>
                    <th>Naam</th>
                    <th>Branch</th>
                    <th>Rol</th>
                </tr>

                {{#each match in selectedProfile.matches}}
                <tr {{action 'showConnectionDetails' connection }}>
                    <td>
                        <div class='profilePicture' style="background-image: url({{ match.profilePicture }}) "></div>
                        {{ match.fullname }}
                    </td>
                    <td>{{match.branch}}</td>
                    <td>{{match.roles}}</td>
                </tr>
                {{/each}}
            </table>
        </section>
    </section>
</section>
