<aside id='page-left' class='viewslider' >
    <section class='slideContainer'>
        <section id='index' class='slide-0'>
            {{#if selectedProfile}}
            {{#if selectedProfile.match.profilePicture}}
            <div class='profilePicture' style="background-image: url({{ selectedProfile.match.profilePicture }});"></div>
            {{else}}
                <div class='profilePicture'></div>
            {{/if}}
            <h4>{{ selectedProfile.description }}</h4>
            <h5>{{selectedProfile.match.fullName}}</h5>
            <hr>

            <section class='widgetContainer'>

                {{#each element in selectedProfile.profileElements}}
                {{matching-widget data=element isNew=false action='updateWidget'}}
                {{/each}}

            </section>

            <button {{action 'changeView' 'page-left' 1 }} >Element toevoegen <i class="fa fa-plus"></i></button>
            <hr>
            <button {{action 'calculateMatches' }} >Matches berekenen <i class="fa fa-calculator"></i></button>
            <hr>
            <button {{action 'deleteDemandProfile' }} >Verwijder profiel <i class="fa fa-trash"></i></button>
            {{/if}}
        </section>

        <section id="add" class='slide-1'>
            <i id="back-btn" {{action 'changeView' 'page-left' 0 }} class="fa fa-chevron-circle-left"></i>
            <h3>Selecteer een filter</h3>
            <section class='widgetContainer'>
                {{#each element in selectedProfile.profileElementChoices}}
                {{matching-widget data=element action='saveWidget'}}
                {{/each}}

            </section>

        </section>
    </section>
</aside>

<section id='page-content'>
    <header id="criteria-header">
        {{#each profile in model.profiles}}
        <span {{action 'selectMatchingProfile' profile.id}} class="criteria">

            {{#if profile.match.profilePicture}}
            <span class='profilePicture' style="background-image: url({{ profile.match.profilePicture }});">
                <span class="info"><strong>{{ profile.description }}</strong><br />{{profile.match.fullName}}</span>
            </span>
            {{else}}
            <span class='profilePicture'>
                <span class="info"><strong>{{ profile.description }}</strong><br />{{profile.match.fullName}}</span>
            </span>
            {{/if}}

        </span>
        {{/each}}
        <h5>matches 0/{{ model.matchingProfiles.length }}</h5>
        <button {{action "showPopup" 'new-demand-profile'}} >Specialisme toevoegen <i class="fa fa-plus"></i></button>
    </header>

    {{#if selectedProfile.candidates}}
    <section id='candidates' class='overview list'>
        <h3>Kandidaten</h3>
        <h5>{{ connectionCount }} kandidaten</h5>
        <table>
            <tr>
                <th>Naam</th>
                <th></th>
            </tr>

            {{#each candidate in selectedProfile.candidates}}
            <tr>

                <td>
                    {{#if candidate.profilePicture }}
                    <div class='profilePicture' style="background-image: url({{ candidate.profilePicture }}) "></div>
                    {{else}}
                    <div class='profilePicture'></div>
                    {{/if}}
                    {{ candidate.contactName }}
                </td>
                <td>
                    <button {{action "selectMatch" candidate}} >Kies persoon</button>
                    <button {{action "removeCandidate" candidate}} >Verwijderen</button>
                </td>
            </tr>
            {{/each}}
        </table>
    </section>
    {{/if}}


    <section id='proposedMatches' class='overview list'>
        <h3>MatchingProfiel: {{ model.selectedProfile.title }}</h3>
        <h5>{{ connectionCount }} connecties</h5>
        <table>
            <tr>
                <th>Matching score</th>
                <th>Naam</th>
                <th></th>
            </tr>

            {{#each proposedMatch in selectedProfile.matches}}
            <tr>
                <td>{{proposedMatch.calculatedMatchingValue}}</td>
                <td>
                    {{#if proposedMatch.profilePicture }}
                    <div class='profilePicture' style="background-image: url({{ proposedMatch.profilePicture }}) "></div>
                    {{else}}
                    <div class='profilePicture'></div>
                    {{/if}}
                    {{ proposedMatch.contactName }}
                </td>
                <td><button {{action "saveCandidate" proposedMatch}} >Uitnodigen</button></td>
            </tr>
            {{/each}}
        </table>
    </section>

</section>

<section id="new-demand-profile" class='popup'>

    <section class='inner'>
        <header>
            <h2>Nieuw Zoekprofiel</h2>
        </header>
        <form method="post" {{action "createDemandProfile" on="submit"}}>
            {{input value=newProfileParams.name type="text" placeholder="Profielnaam" class="txt-field"}}<br>
            <button type="submit" class="btn_sumbit">Project toevoegen</button>
            <button class="btn close" {{action "closePopup" 'new-demand-profile'}}>Annuleren</button>
        </form>

    </section>

</section>
