<section id='template-main'>

	<header id="app">
		{{#link-to 'index'}}<img id="logo" src="assets/images/logo.png"/>{{/link-to}}
        <section id='globalSearchBox' {{bind-attr class=":searchbox globalSearchResults:hasresults"}}>
            {{input id="searchfield" value=globalSearchQuery}}
            <ul class='result' >

                {{#if globalSearchResults.Person}} <h3>Personen</h3> {{/if}}
                {{#each person in globalSearchResults.Person}}
                    <li {{action 'handleSearchResultClick' 'person' person.id}}>
                        <img class="profilePicture" src="{{person.picture}}" width="20" height="20"/>
                        {{person.fullName}}
                    </li>
                {{/each}}

                {{#if globalSearchResults.Demand}} <h3>Projecten</h3> {{/if}}
                {{#each demand in globalSearchResults.Demand}}
                    <li {{action 'handleSearchResultClick' 'project' demand.id}}>
                        <img class="profilePicture" src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d5" width="20" height="20"/>
                        {{demand.description}}
                    </li>
                {{/each}}

            </ul>
        </section>

		<section id="profileAccountInfo">
			<img id="profilePicture" src="{{activePerson.profilePicture}}" width="40" height="40"/>
			<section id="account-nav">
				<h2>Account</h2>
				<ul>
					<li><i class="fa fa-cog"></i> Instellingen</li>
					<li><i class="fa fa-info"></i> Help</li>
					<li {{action 'logout' }}><i class="fa fa-sign-out"></i> Uitloggen</li>
				</ul>
			</section>

			<span id="profile-username">{{activePerson.fullName}}<i class="fa fa-chevron-down"></i></span>
		</section>

	</header>

	<aside id="user-menu">
		<button id="toggle-user-menu" {{action "toggleUsernav"}}><i class="fa fa-chevron-left"></i></button>
        <section class='userinfo'>
            <img class="profilePicture" src="{{activePerson.profilePicture}}" width="100" height="100"/>
            <h4>{{activePerson.fullName}}</h4>
            <span>{{activePerson.roles}}</span><br />
        </section>
		<nav>
			<ul>
				<li>{{#link-to 'me.projects'}}<i class="fa fa-bars"></i><span>Mijn projecten</span>{{/link-to}}</li>
				{{!-- <li>{{#link-to 'me.courses'}}<i class="fa fa-graduation-cap"></i><span>Opleidingen</span>{{/link-to}}</li> --}}
				<li>{{#link-to 'me.connections'}}<i class="fa fa-heart"></i><span>Mijn netwerk</span>{{/link-to}}</li>
				<li>{{#link-to 'me.index'}}<i class="fa fa-user"></i><span>Mijn profiel</span>{{/link-to}}</li>
                <hr>
                <li>{{#link-to 'me.settings'}}<i class="fa fa-cog"></i><span>Instellingen</span>{{/link-to}}</li>
                <li>{{#link-to 'help'}}<i class="fa fa-info"></i><span>Help</span>{{/link-to}}</li>
                <li><a href="#" {{action 'logout' }}><i class="fa fa-sign-out"></i><span>Uitloggen</span></a></li>
            </ul>


			<span style="display:none;">
				<hr>
				<h3>Recente projecten</h3>

				<ul>
					<li>{{#link-to 'me.projects'}}<img class="projectImg" src="{{activePerson.profilePicture}}" width="40" height="40"/><span>Intranet GGnet</span>{{/link-to}}</li>
					<li>{{#link-to 'me.projects'}}<img class="projectImg" src="{{activePerson.profilePicture}}" width="40" height="40"/><span>Ecologische auto</span>{{/link-to}}</li>
					<li>{{#link-to 'me.projects'}}<img class="projectImg" src="{{activePerson.profilePicture}}" width="40" height="40"/><span>Duurzaam kantoor</span>{{/link-to}}</li>
				</ul>

				{{#link-to 'me.projects' class="more-projects"}}Meer{{/link-to}}
			</span>
		</nav>
	</aside>

	<section id="pagewrapper">

		{{yield}}

	</section>

</section>
