<header id="top-bar">
    {{#link-to 'index'}}<img id="logo" src="assets/images/logo.png"/>{{/link-to}}
    <input id="search-field" type="text" placeholder="Zoeken" />


    <button id="profile-nav-toggle-btn">&#8964;</button>
    <span id="profile-username" {{action "logout"}}>{{fullname}}</span>
    <img id="profilePicture" src="{{profilePicture}}" width="35" height="35"/>


</header>

<aside id="main-aside">

    <button id="toggle-main-aside" {{action "collapseAside"}}> <span>&lt;</span> </button>

    <nav id="main-nav">

        <ul>
            <li>{{#link-to 'user.projecten'}}<i class="fa fa-bars"></i>Projecten{{/link-to}}</li>
            <li>{{#link-to 'user.network'}}<i class="fa fa-heart"></i>Netwerk{{/link-to}}</li>
            <li>{{#link-to 'user.profile'}}<i class="fa fa-user"></i>Profiel{{/link-to}}</li>
        </ul>

        <hr>

        <h3>Projecten</h3>

        <ul>
            <li>{{#link-to 'user.projecten'}}Intranet GGnet{{/link-to}}</li>
            <li>{{#link-to 'user.projecten'}}Ecologische auto{{/link-to}}</li>
            <li>{{#link-to 'user.projecten'}}Duurzaam kantoor{{/link-to}}</li>
        </ul>


        <a href="">Meer</a>

        <hr>

        <h3>Netwerk</h3>

        <ul>
            <li>{{#link-to 'user.network'}}Henk Jan{{/link-to}}</li>
            <li>{{#link-to 'user.network'}}Tom Brouwer{{/link-to}}</li>
            <li>{{#link-to 'user.network'}}Jan Jansen{{/link-to}}</li>
        </ul>


        <a href="">Meer</a>

    </nav>

</aside>

<section id="main-wrapper">

    <header id="sub-bar">

        <button>Nieuw project</button>

        <h4>Projecten</h4>

        <nav id="sub-nav">
            <ul>
                <li><a class="active" href="">Alle</a></li>
                <li><a href="">Lopend</a></li>
                <li><a href="">In afwachting</a></li>
                <li><a href="">Afgerond</a></li>
                <li><a href="">Uitgenodigd</a></li>
                <li><a href="">Van mij</a></li>
            </ul>
        </nav>


    </header>

    <section id="content-wrapper">

        <aside id="content-aside">
        </aside>

        <header id="content-bar">

            <p><span class="count">11</span> lopende projecten</p>

            <ul>
                <li><button><i class="fa fa-th-list"></i></button></li>
                <li><button><i class="fa fa-sort-alpha-asc"></i></button></li>
                <li><button><i class="fa fa-info"></i></button></li>
            </ul>

        </header>


        <section id="content">
            {{yield}}
        </section>

    </section>

</section>
