<section id='page' class='projects'>
    <header id="sub-bar">

        <button {{action "showPopup" 'new-project'}}>Nieuw project</button>

        <h4>Projecten</h4>

        <nav id="sub-nav">
            <ul>
                <li>{{#link-to 'user.projecten'}}Alle projecten{{/link-to}}</li>
            </ul>
        </nav>


    </header>
    <section id="content">
        {{outlet}}

        <section id="content-wrapper">

            <aside id="content-aside">

                <h4>{{selectedDemand.demandDescription}}</h4>
                <p>{{selectedDemand.demandSummary}}</p>

            </aside>

            <header id="content-bar">

                {{ projectCount }} lopende projecten

                <ul>
                    <li><button>1</button></li>
                    <li><button>2</button></li>
                    <li><button>3</button></li>
                </ul>

            </header>

            <section id="content">
                {{outlet}}

                <section id="demands">

                    {{#each demand in demands}}

                    <section class="demand" {{action "showDetails" demand.uniqueItemId }}>
                        <img src="assets/images/plant.jpg"/>
                        <section class="description">
                            <h4>{{demand.demandDescription}}</h4>
                            <!-- <span>{{demand.demandOrSupplyProfileStartDate}} - {{demand.demandOrSupplyProfileEndDate}}</span> -->
                            <!-- <p>{{demand.demandSummary}}</p>-->
                            <p>{{demand.demandOwner.title}}</p>
                            {{demand.uniqueItemID}}
                        </section>
                    </section>

                    {{/each}}

                </section>

                <section id="add-project-popup">

                    <section>
                        <button class="btn close-popup-btn" {{action "closePopup" 'new-project'}}>X</button>
                        <header>
                            <h2>Nieuw project</h2>
                        </header>
                        <form method="post" {{action "createProject" on="submit"}}>
                            {{input value=title type="text" placeholder="Beschrijving" class="txt-field"}}<br>
                            {{textarea value=summary placeholder="Samenvatting" class="txt-area"}}<br>
                            {{textarea value=story placeholder="Verhaal" class="txt-area"}}<br>

                            <button type="submit" class="btn add-project-btn">Project toevoegen</button>
                        </form>

                    </section>

                </section>
            </section>

        </section>

    </section>
</section>







