<section id="demands">

    {{#each demand in demands}}

    <section class="demand" {{action "showDetails"}}>
        <img src="assets/images/plant.jpg"/>
        <section class="description">
            <h4>{{demand.demandDescription}}</h4>
            <!-- <span>{{demand.demandOrSupplyProfileStartDate}} - {{demand.demandOrSupplyProfileEndDate}}</span> -->
            <!-- <p>{{demand.demandSummary}}</p>-->
            <p>{{demand.demandOwner.title}}</p>
        </section>
    </section>

    {{/each}}

</section>
