<header id="page-header">

    <button {{action "showPopup" 'new-project'}} id="addProjectBtn">Nieuw project<i class="fa fa-plus"></i></button>

    <h4>Projecten</h4>

    <nav id="submenu">
        <ul>
            <li>{{#link-to 'me.projects'}}Alle projecten{{/link-to}}</li>
        </ul>
    </nav>

</header>

<section id="page-content">
    <header id="" class="overview absolute">
        <span class="count">{{ model.projectCount }} projecten</span>
        <ul class='options'>
            <li><button><i class="fa fa-sort-alpha-asc"></i></button></li>
            <li><button class="active"><i class="fa fa-info"></i></button></li>
        </ul>
    </header>

    <section id="" class='overview tiles'>
        {{#each demand in model.demands}}

        <section class="demand tile" {{action "showDetails" demand.id }}>
            <img src="http://lorempixel.com/500/375/?{{demand.id}}"/>
            <div class="info">
                <span class='profilePicture owner'></span>
                <h4>{{demand.description}}</h4>
                <span class='owner'>{{demand.demandOwner.title}}</span>
                <span class="status"><img src="assets/images/status_orange.png"/> Uitgenodigd</span>
            </div>
        </section>

        {{/each}}
    </section>
</section>

<aside id="page-right">
    {{#if selectedDemand}}
    <header class='picture' style="background-image: url('http://lorempixel.com/500/375/?{{selectedDemand.id}}') "></header>

    <h4>{{selectedDemand.description}}</h4>
    <span class='owner'>{{selectedDemand.demandOwner.title}}</span>
    <span class="status"><img src="assets/images/status_orange.png"/> Uitgenodigd</span>
    <hr>
    <!--<span class="expertise">
        <i class="fa fa-rocket"></i> <h5>Mijn expertise</h5>
        Leergierig persoon<br>
        {{
        view Ember.Select
        contentBinding="form.entities"
        selectionBinding="formdata.entity"
        optionLabelPath="content.label"
        optionValuePath="content.value"
        }}
    </span>-->

    <p><strong>Specialismen</strong></p>
    {{#each profile in selectedDemand.profiles}}
    <div class="matchingProfile" {{action "selectMatchingProfile" profile.id}}>
        {{#if profile.match.profilePicture}}
        <div class='profilePicture' style=" background-image: url({{ profile.match.profilePicture }});"></div>
        {{else}}
        <div class='profilePicture'></div>
        {{/if}}

        {{#if profile.match}}
        <span><strong>{{ profile.description }}</strong><br />{{profile.match.fullName}}</span>
        {{else}}
        <span><strong>{{ profile.description }}</strong><br />Geen match</span>
        {{/if}}
    </div>
    {{/each}}
    <hr>

    <p>{{selectedDemand.demandSummary}}</p>
    <h5>verhaal</h5>
    <p>{{selectedDemand.demandStory}}</p>

    <button {{action 'hideDetails'}}>Sluiten</button><br><br>
    <button {{action 'getProject' selectedDemand.id }}>Bekijk project</button>
    {{else}}
    <img class='preloader' src='assets/images/preloader.gif' width="64"/>
    {{/if}}
</aside>

<section id="new-project" class='popup'>
    <section class='inner'>
        <header>
            <h2>Nieuw project</h2>
        </header>
        <form method="post" {{action "createProject" on="submit"}}>
            {{input value=newProjectParams.title type="text" placeholder="Beschrijving" class="txt-field"}}<br>
            {{textarea value=newProjectParams.summary placeholder="Samenvatting" class="txt-area"}}<br>
			{{textarea value=newProjectParams.story placeholder="Verhaal" class="txt-area"}}<br>
            <button type="submit" class="btn add-project-btn">Project toevoegen</button>
            <button class="btn close" {{action "closePopup" 'new-project'}}>Annuleren</button>
        </form>

    </section>
</section>

