<section id="page" class='login'>

    <header>
        <h1>Xtalus</h1>
        <h3>Together the perfect 'match-maker' for finding and growing talent</h3>
    </header>

    <section>
        <form method="post" {{action "login" on="submit"}}>
			<h4>Welkom terug</h4>
			<label><i class="fa fa-user"></i>
            	{{input value=username type="text" placeholder="Gebruikersnaam"}}
				<p class="message">{{message}}</p>
			</label>
			<label><i class="fa fa-lock"></i>
            	{{input value=password type="password" placeholder="Wachtwoord"}}
				<p class="password message">{{message}}</p>
			</label>
			<!-- {{input type="checkbox" name="remember" checked=remember}} Onthouden -->
            <button type="submit" class="btn">Login <i class="fa fa-sign-in"></i></button>
        </form>

    </section>

	<footer>
		{{#link-to 'registration'}}Nog geen account?{{/link-to}}
		<!-- {{#link-to 'forgot'}}Wachtwoord vergeten?{{/link-to}} -->
	</footer>

</section>
